<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <Resource name="jdbc/Staging"
              global="jdbc/Staging"
              auth="Container"
              factory="org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory"
              type="javax.sql.DataSource"
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://10.53.116.32:5432/staging"
              username="devstaging"
              password="devstaging"
              maxTotal="20"
              maxIdle="10"
              initialSize="5"
              maxWaitMillis="-1"/>

    <Environment name="kafka/bootstrapServers" value="10.53.83.50:9092,10.53.83.31:9092,10.53.83.49:9092"
                 type="java.lang.String" override="false"/>
    <!--TODO подставить корректный id приложения. Временно пользуемся id для Сервис преобразования-->
    <!--TODO id нашего приложения: incrservice-ser-4d39-8aec-c5fc1afddb5e-->
    <Environment name="kafka/appId" value="sbrdservice-ser-421a-b27e-817a2339cb54"
                 type="java.lang.String" override="false"/>
    <!--TODO подставить корректный id приложения. Временно пользуемся id для Сервис преобразования-->
    <Environment name="kafka/topicName" value="sbrdservice-ser-421a-b27e-817a2339cb54"
                 type="java.lang.String" override="false"/>

    <Environment name="kafka/modeId" value="SBERBOARD-INCREMENT-SAVE-AGENT"
                 type="java.lang.String" override="false"/>

    <Environment name="increment/cronExpression" value="*/20 * * ? * *"
                 type="java.lang.String" override="false"/>

    <Environment name="logs/filePath" value="c:/Temp/"
                 type="java.lang.String" override="false"/>

    <Environment name="logs/arhSize" value="10M"
                 type="java.lang.String" override="false"/>

    <Environment name="increment/mode/manual" value="OFF"
                 type="java.lang.String" override="false"/>
</Context>